.block1 {
height: 50px;
width: 20%;
background: #6495ED;
padding: 10px;
border: solid 1px black;
margin-right: 1%;
float: left;
position:relative;
}

.block2 {
height: 50px;
width: 20%;
background: #6495ED;
padding: 10px;
border: solid 1px black;
float: right;
margin-left: 1%;
position:relative;
}

.block3 {
height: 50px;
width: 51%;
background: #6495ED;
padding: 10px;
border: solid 1px black;
float: right;
float: left;
margin-left: 1%;
margin-right: 1%;
position:relative;
}

.block4 {
height: 450px;
width: 20%;
background: #6495ED;
padding: 10px;
border: solid 1px black;
margin-right: 1%;
float: left;
margin-top: 1%;
position:relative;
}

.Blocks1 {
width: 20%;
padding: 10px;
float: left;
position:relative;
}

.block5 {
height: 50px;	
background: #708090;
border: solid 1px black;
margin-top: 2%;
margin-left: 1%;
margin-right: 1%;
}

.block8 {
height: 148px;
width: 29.5%;
background: #CCC;
padding: 10px;
border: solid 1px black;
float: right;
float: left;
margin-top: 1%;
margin-left: 1%;
margin-right: 1%;
}

.Blocks2 {
position:relative;
width: 22.7%;
height: 193px;
overflow:hidden;
position:relative;
}

.Blocks3 {
width: 22.7%;
height: 400px;
margin-top: 0.5%;
overflow:hidden;
position:relative;
}

.block9 {
width: 39%;
height: 63px;
padding: 10px;
float: right;
background: #708090;
border: solid 1px black;
margin-left: 3%;
margin-top: 2%;
}

.block18 {
width: 39%;
height: 63px;
padding: 10px;
float: right;
background: #708090;
border: solid 1px black;
margin-left: 3%;
margin-top: 2%;
position:relative;
}

.block12 {
height: 400px;
width: 51%;
background: #CCC;
padding: 10px;
border: solid 1px black;
float: right;
float: left;
margin-left: 1%;
margin-right: 1%;
margin-top: 1%;
position:relative;
}

.block17 {
width: 20%;
height: 400px;
padding: 10px;
float: right;
background: #CCC;
border: solid 1px black;
margin-left: 1%;
margin-top: -14%;
position:relative;
}

@media all and (max-width: 1024px) {

	.Blocks1{
		display:none;
    }
	.block3{
         width: 463px;
}
		.block12{
         width: 463px;
		 height: 250px;
		 bottom: 193px;
}
    .Blocks2{
        width: 540px;
		top: 290px; 
		float: left;
		margin-left: -5%;
    }
	.Blocks3{
         display:none;
}
	.block2{
         display:none;
}
	.block17{
         display:none;
}
	.block8{
         display:none;
}
}


@media all and (max-width: 800px) {
	.block3{
         width: 790px;
}
	.block12{
         width: 790px;
		 bottom: 210px;
}
	.Blocks1{
		width: 825px;
		top:450px;
		display:block;
		margin-left: -2%;
		margin-right: -2%;
    }
    .Blocks2{
        display:none;
    }
	.Blocks3{
         display:none;
}
	.block2{
         display:none;
}
	.block17{
         display:none;
}
	.block1{
         display:none;
}
	.block4{
         display:none;
}
	.block8{
         display:none;
}
}

@media all and (max-width: 480px) {
  	.block3{
         display:none;
}
	.block12{
		top:0px;
         width: 100%;
}
	.Blocks1{
       display:none;
    }
    .Blocks2{
        display:none;
    }
	.Blocks3{
         display:none;
}
	.block2{
         display:none;
}
	.block17{
         display:none;
}
	.block1{
         display:none;
}
	.block4{
         display:none;
}
	.block8{
         display:none;
}
}



